# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = pythree_scrapy.settings

[deploy:tangxlscrapyd]
url = http://localhost:6800/
user = scrapyd
password = scrapyd
project = pythree_scrapy
